
<form action="/users/sign_up" method="post">
    <div>
        <label>ユーザー名：</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>メールアドレス：</label>
        <input type="text" name="email"/>
    </div>
    <div>
        <label>パスワード：</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="会員登録"/>
    </div>
</form>