  <!-- Footer -->
  <footer class="page-footer font-small unique-color-dark">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> dotval</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

  <script type="text/javascript" src="/mdbootstrap/js/jquery.min.js"></script>
  <script type="text/javascript" src="/mdbootstrap/js/popper.min.js"></script>
  <script type="text/javascript" src="/mdbootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/mdbootstrap/js/mdb.min.js"></script>
  <script type="text/javascript" src="/javascript/script.js"></script>

</body>

</html>